:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --text-focus-color: #2196f3;
  --main-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-btn-hover: #188ce8;
  --logo-color: #000000;
  --hero-underline: #ececec;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
.conteiner {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
}
.underline {
  border-bottom: 1px solid var(--hero-underline);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  font-size: 14px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
/* --------- Header section --------- */
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--text-focus-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-ins {
  color: var(--logo-color);
}
.site-nav .link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-focus-color);
}
.link.current {
  color: var(--text-focus-color);
}

.site-contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--text-focus-color);
}
/* --------- Hero section --------- */
.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
}
.hero-text {
  /* background-color: tomato; */
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.hero-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--text-focus-color);
  color: var(--main-bg-color);
  display: inline-block;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-hover);
}
/* --------- Особенности section --------- */
.section-title-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}
.specs {
  margin-top: 94px;
}
.section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}
/* --------- чем мы занимаемся section --------- */
.section-main-text {
  margin-top: 94px;
  /* padding-top: 94px; */
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------- наша команда section --------- */
.section-team {
  background-color: var(--team-bg-color);
}
.bg-color {
  background-color: var(--main-bg-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 30px;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;
}
.conteiner-workers {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.conteiner-team {
  padding-bottom: 94px;
}

/* --------- footer section --------- */
.logo-ins-wt {
  color: var(--main-bg-color);
}
.footer {
  background-color: var(--footer-bg-color);
}
.site-address .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.site-address .link:hover,
.site-address .link:focus {
  color: var(--text-focus-color);
}
.site-address .adr {
  color: var(--main-bg-color);
}
.logo.link {
  display: inline-block;
  padding-top: 60px;
}
.link.adr {
  display: inline-block;
  padding-top: 20px;
}
.site-address .list {
  display: block;
  padding-top: 9px;
}
.site-address {
  padding-bottom: 60px;
}
/* --------- СТРАНИЦА ПОРТФОЛИО --------- */

.portfolio-btn {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--team-bg-color);
}
.current-btn {
  color: var(--main-bg-color);
  background-color: var(--text-focus-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-bg-color);
  background-color: var(--text-focus-color);
}

.portfolio-title-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--text-color);
}
.conteiner-filter {
  margin-top: 94px;
}
.conteiner-example {
  padding-top: 56px;
  padding-bottom: 94px;
}
